body {
    font-family: "Avenir";
    margin: 0;
    background-color: #000;
}

.header {
    background-color: #f7c700;
    height: 300px;
    padding: 16px 0 0 0;
}

.category {
    height: 150px;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color:#000;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #333;
    margin: 4px auto;
    text-align: center;
    max-width: 60%;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.wrapperSecond {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.dropdown {
    font-size: 14px;
    max-width: 300px;
    height: 60px;
}

.dash-dropdown {
    min-width: 300px;
    min-height: 60px;
    height: 60px;
}

.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.bt {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.bt:active {
    color: #555;
}

.link {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 1%;
}

a.link {
    display: block;
}

.white-bg {
    background-color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    white-space: pre;
}

.small-margin {
    margin-bottom: 8px;
}

.full {
    width: 100%;
}

.list {
    max-width: 840px;
    display:flex;
    justify-content:space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin: -80px auto 0 auto;
}

img {
    border-style: solid;
    border-width: 4px;
    border-color: white;
    height: 60px;
    width: 60px;
    background-color: white;
}

.yellow-bg {
    background-color: #f7c700;
    border-color: #f7c700;
    border-width: 4px;
    margin-right: 12px;
}

.class-header {
    display: flex;
    justify-content: center;
    background-color: white;
}

.title {
    margin: 4px auto;
    width: 100%;
    text-align:left;
    padding: 8px 0 8px 14px;
    font-size: 18px;
}

.white {
    background-color: white;
}

.container {
    height: 570px;
    width: 100%;
}

.left {
    float: left;
    width: 34%;
    height: 100%;
    
    border: 24px solid black;
    box-sizing: border-box;
}

.right {
    float: left;
    width: 66%;
    height: 100%;
    
    border: 24px solid black;
    border-left-width: 0px;
    box-sizing: border-box;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.center {
    justify-content: center;
}

.flex-item {
    background: #f7c700;
    border: 2px solid #f7c700;
    padding: 5px;
    width: 120px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.flex-item:active {
    border: 4px solid black;
    color: black;
}

.selected {
    border: 4px solid black;
    color: black;
}

.column {
    width: 200px;
    height: 150px;
    padding-top: 25px;
    padding: 10px;
    float: center;
    margin-right: 50px;
    text-align: center;
    display: block;
    background-color: white;
}

.secondlink {
    border: none;
    /*color: #f7c700;*/
    color: black;
    font-size: 14px;
    text-decoration-color: black;
    text-align: center;
    font-weight: bold;
}
