body {
    font-family: "Avenir";
    margin: 0;
    background-color: #000;
    margin-bottom:100px;
}

footer {
    position: fixed;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.footer-text {
    color: white;
    font-size: 14px;
    text-align: center;
}

.header {
    background-color: #f7c700;
    height: 300px;
    padding: 16px 0 0 0;
}

.category {
    height: 150px;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color:#000;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #333;
    margin: 4px auto;
    text-align: center;
    max-width: 60%;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.wrapperSecond {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.dropdown {
    font-size: 14px;
    max-width: 300px;
    height: 60px;
}

.dash-dropdown {
    min-width: 300px;
    min-height: 60px;
    height: 60px;
}

.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.bt {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.bt:active {
    color: #555;
}

.link {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 1%;
}

a.link {
    display: block;
}

.white-bg {
    background-color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    white-space: pre;
}

.small-margin {
    margin-bottom: 8px;
}

.full {
    width: 100%;
}

.list {
    max-width: 840px;
    display:flex;
    justify-content:space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin: -80px auto 0 auto;
}

img {
    border-style: solid;
    border-width: 4px;
    border-color: white;
    height: 60px;
    width: 60px;
    background-color: white;
}

.yellow-bg {
    background-color: #f7c700;
    border-color: #f7c700;
    border-width: 4px;
    margin-right: 12px;
}

.class-header {
    display: flex;
    justify-content: center;
    background-color: white;
}

.title {
    margin: 4px auto;
    width: 100%;
    text-align:left;
    padding: 8px 0 8px 14px;
    font-size: 18px;
}

.white {
    background-color: white;
}

.container {
    height: 570px;
    width: 100%;
}

.left {
    float: left;
    width: 34%;
    height: 100%;
    
    border: 24px solid black;
    box-sizing: border-box;
}

.right {
    float: left;
    width: 66%;
    height: 100%;
    
    border: 24px solid black;
    border-left-width: 0px;
    box-sizing: border-box;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.center {
    justify-content: center;
}

.flex-item {
    background: #f7c700;
    border: 2px solid #f7c700;
    padding: 5px;
    width: 120px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.flex-item:active {
    border: 4px solid black;
    color: black;
}

.selected {
    border: 4px solid black;
    color: black;
}

.column {
    width: 200px;
    height: 150px;
    padding-top: 25px;
    padding: 10px;
    float: center;
    margin-right: 50px;
    text-align: center;
    display: block;
    background-color: white;
}

.secondlink {
    border: none;
    /*color: #f7c700;*/
    color: black;
    font-size: 14px;
    text-decoration-color: black;
    text-align: center;
    font-weight: bold;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

