body {
    font-family: "Avenir";
    margin: 0;
    background-color: #000;
}

.header {
    background-color: #f7c700;
    height: 300px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color:#000;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}


.header-description {
    color: #333;
    margin: 4px auto;
    text-align: center;
    max-width: 60%;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.wrapperSecond{
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.dropdown {
    font-size: 14px;
}

.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.bt {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.bt:active {
    color: #555;
}

.landing {
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #f7c700;
    position: absolute;
    left: 50%;
    top: 78%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.link {
    background-color: #f7c700;
    border: none;
    color: #333;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 1%;
}



a.link {
    display: block;
}

.white-bg {
    background-color: #FFFFFF;
    text-align: left;
    text-decoration: none;
    font-size: 18px;
    white-space: pre;
}

.small-margin {
    margin-bottom: 8px;
}